<div class="main_container">
    <ng-container *ngTemplateOutlet="titleTmpl"></ng-container> And yes, it came from parent component!

     <p>List of products:</p>

    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Price impact</th>
            <th>Added on</th>
        </tr>

        <tr *ngIf="isArrayEmpty">
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tr>

        <tr *ngFor="let p of products">
            <td> {{ p.name | uppercase}} </td>
            <td> {{ p.price | currency: 'UAH' : 'symbol-narrow' : '1.0-2'}} </td>
            <td> {{ p.percent | percent: '1.2-2'}} </td>
            <td> {{ p.date | date: "dd/MM/yyyy" }} </td>
        </tr>
    </table>
    
    <p>Following message contains spaces: {{ pipeTest }} </p>
    <p>This message is without spaces:  {{ pipeTest | noSpace: '%' }} </p>

</div>

    