<div class="home_container">

    <div class="title">
        <input class="input" type="text" [(ngModel)]='title'>
        <div class="title_text">&nbsp;page</div>
    </div>
    
    <div>
        <div class="greeting">
            Hello,&nbsp;
            <div class="name">{{ firstName }}!</div>&nbsp;
            Welcome to the&nbsp;
            <div class="g_text">{{ title }}</div>
            &nbsp;page!
        </div>
    
        <button (click)="andrew()" class="btn1">I'm Andrew</button>
        <br>
        <button (click)="roman()" class="btn2">I'm Roman</button>
    
        <p id="clicks">Clicks from the second component: {{ clicks }}</p>
    </div>

    <app-second (onMessage)="setClicks($event)" [name]="firstName"></app-second>

    <app-third></app-third>

</div>

<div class="home_container">
    <app-lr2>
        <div class="lr2_title">
            <h1>This message is integrated from home component</h1>
            <h2>This is where the 2nd practice starts...</h2>
        </div>
    </app-lr2>
</div>